$main-text-color: rgba(255, 255, 255, 0.8);

.quotes-container {
  // border: 1px solid blue;
  position: absolute;
  left: 25%;
  bottom: 2%;
  width: 50vw;
  padding: 1rem 0;
}

.quotes-container:hover {
  .quote-display {
    transform: translateY(-15px);
  }
  .author-twitter-container {
    opacity: 1;
    transform: translateY(-10px);
  }
}

.quote-display {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-text-color;
  font-size: 1.5rem;
  margin: 0;
  transform: translateY(0px);
  cursor: pointer;
  & .quote-item {
    margin: 0;
    text-align: center;
  }
  transition: all 0.3s ease;
}

.author-twitter-container {
  position: absolute;
  // border: 1px solid green;
  display: flex;
  color: $main-text-color;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin: 0 0.25rem;
  width: 50vw;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease 0.2s;
}

.author {
  font-size: 1.3rem;
  padding: 0.25rem 1rem;
  margin: 0;
}

.twitter-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.5rem;
  cursor: pointer;
}

.twitter-icon:hover {
  color: white;
  font-size: 2rem;
}