h3 {
  font: 3rem Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 1rem; }

h4 {
  font: 2rem Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 1rem; }

.focus-form-container {
  position: absolute;
  bottom: 15%;
  left: 25%;
  text-align: center;
  width: 50vw; }

.add-main-goal-container {
  padding: 1rem; }

.focus-form {
  padding: 1rem;
  text-align: center; }

.focus-form-input {
  background: inherit;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 3rem;
  text-align: center;
  width: 70%; }
  .focus-form-input:focus {
    outline: none; }

.main-goal-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem; }

.main-goal-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 50%; }
  .main-goal-form h3 {
    padding: 0 1rem; }

button {
  color: white;
  background: none;
  border: none;
  border-radius: 100%;
  font-size: 1.5rem; }
  button:hover {
    border: 1px solid white; }

.hidden {
  display: none;
  visibility: hidden; }
