h3 {
  font: 3rem Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 1rem;
}

h4 {
  font: 2rem Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 1rem;
}

.focus-form-container {
  position: absolute;
  bottom: 15%;
  left: 25%;
  // border: 1px solid red;
  text-align: center;
  width: 50vw;
}
.add-main-goal-container {
  padding: 1rem;
}

.focus-form {
  padding: 1rem;
  text-align: center;
}

.focus-form-input {
  background: inherit;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 3rem;
  text-align: center;
  width: 70%;

  &:focus {
    outline: none;
  }
}

.main-goal-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.main-goal-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 50%;
  & h3 {
    padding: 0 1rem;
  }
}

button {
  color: white;
  background: none;
  border: none;
  border-radius: 100%;
  font-size: 1.5rem;
  &:hover {
    border: 1px solid white;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

@media (max-width: 560px){
  h3 {
    font-size: 2rem;
  }
  .add-main-goal-container {
    padding: 0.25rem;
  }
  .focus-form {
    padding: 0 0.25rem;
  }
  .focus-form-input {
    font-size: 1.5rem;
  }
}

@media (max-height: 520px) {
  h3 {
    font-size: 2rem;
  }
  .add-main-goal-container {
    padding: 0.25rem;
  }
  .focus-form {
    padding: 0 0.25rem;
  }
  .focus-form-input {
    font-size: 1.5rem;
  }
}

@media (max-height: 400px) {
  .focus-form-container {
    bottom: 25%;
  }
}
