.weather-container {
  position: absolute;
  top: 2%;
  right: 0;
  margin: 0 1vw;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem; }

.weather-temp {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-align: right; }

.weather-city {
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.5rem 0;
  margin: 0; }
