.greeting-container {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50vw;
  color: white;
  text-align: center; }

h1 {
  font: bold 10rem Arial, sans-serif;
  padding: 0.5rem 1rem;
  margin: 0; }

h2 {
  font-size: 3rem;
  padding: 0.5rem 1rem;
  margin: 0; }
