.greeting-container {
  position: absolute;
  top: 35%;
  left: 20%;
  // border: 1px solid white;
  width: 60vw;
  color: white;
  text-align: center;  
}

.clock-time {
  font: bold 12rem Arial, sans-serif;
  // padding: 0.5rem 1rem;
  margin: 0;
}

.greeting-text {
  // border: 1px solid white;
  font-size: 5rem;
  // padding: 0.5rem 1rem;
  margin: 0;
  width: 100%;  
}
